<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  {{#each companies}}
    <li>
      <a href="/companies/{{this._id}}">
        {{ this.name }}
      </a>
      <form action="/list/{{this._id}}/add" method="POST">
        <button>Add</button>
      </form>
    </li>
  {{/each}}
</ul>