<h1>{{title}}</h1>
<div class="main-container" >
  {{#each companies}}
    <div class="container-box" >
      <div class="box-1">
        <div class="sub-box-1-1">
          <a href="/detail/{{this._id}}/home">
            {{ this.ticker }}{{this.lastPrice}}
          </a>
        </div>
        <div class="sub-box-1-2">
          {{ this.name }}
        </div>
      </div>
      <div class="box-2">
        <div class="sub-box-2-1">
          H: {{ this.hi_250d }}
        </div>
        <div class="sub-box-2-2">
          L: {{ this.lo_250d }}
        </div>
      </div>

      <div class="box-3">
        +{{ this.change_p }}%
      </div>
      <div class="box-4">
        <form action="/list/{{this._id}}/add" method="POST">
          <button class="box-4-button">+</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>
<footer>
  <div class="icon-bar">
    <a class="active" href="/"><i class="fa fa-globe"></i></a>
    <a href="/list"><i class="fa fa-list-alt"></i></a>
    <a href="/account"><i class="fa fa-user"></i></a>
  </div>
</footer>