<div>
  <h1>{{list.company.name}}</h1>
  <h2>{{list.company.ticker}}</h2>
  <div id="company-graph-container">

  </div>
  <div id="company-description-container">
    <p>{{list.company.description}}</p>
  </div>
  <div id="company-performance-container">
    <h4>Performance</h4>
  </div>
  <div id="company-rating-container">
    <h4>My Rating
    </h4>
    <div id="rating-number-container">
      <form action="/detail/{{list._id}}/rate/1" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i> </button>
      </form>
      <form action="/detail/{{list._id}}/rate/2" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i></button>
      </form>
      <form action="/detail/{{list._id}}/rate/3" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i> </button>
      </form>
      <form action="/detail/{{list._id}}/rate/4" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i></button>
      </form>
      <form action="/detail/{{list._id}}/rate/5" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i> </button>
      </form>
    </div>
    
  </div>
</div>
