<div class="detail-container">
  <h1>{{list.company.ticker}}</h1>
  <h2>{{list.company.name}}</h2>
  <div id="company-graph-container">
    <canvas id="chart" width="250" height="200"></canvas>
    <script>
      const ctx = document.getElementById('chart').getContext('2d');
      const myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                  label: 'label',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: 
                      'rgba(255, 99, 132, 0.2)',
                  borderColor: 
                      'rgba(255, 99, 132, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    </script>


  </div>
  <div id="company-description-container">
    <p>{{list.company.description}}</p>
  </div>
  <div id="company-performance-container">
    <h4>Performance</h4>
  </div>
  <div id="company-rating-container">
    <h4>My Rating
    </h4>
    <div id="rating-number-container">
      <form action="/detail/{{list._id}}/rate/1" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i> </button>
      </form>
      <form action="/detail/{{list._id}}/rate/2" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i></button>
      </form>
      <form action="/detail/{{list._id}}/rate/3" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i> </button>
      </form>
      <form action="/detail/{{list._id}}/rate/4" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i></button>
      </form>
      <form action="/detail/{{list._id}}/rate/5" method="POST" class="rating-box">
        <button type="submit"> <i class="fa fa-star fa-2x"></i> </button>
      </form>
    </div>
    
  </div>
</div>
