<h1>{{title}}</h1>
<p>Welcome to the list view of {{title}}</p>
<ul>
  {{#each list}}
    <li>
      <a href="/companies/{{this._id}}">
        {{ this.company.name }}
        {{ this.user.email }}
      </a>
      <form action="/list/{{this._id}}/remove" method="POST">
        <button>Remove</button>
      </form>
    </li>
  {{/each}}
</ul>
